<launch>
    <!-- stretch_gazebo -->

    <!-- automatic mapping -->

    <!-- pcl for nav node -->
    <node pkg="nate_stretch_movement" type="pcl_for_nav_node" name="PCLforNavNode" output="screen">
        <rosparam file="$(find nate_stretch_movement)/params/pcl_for_nav_params.yaml" command = "load"/>
    </node>

    <!-- head reposition and wall follower -->
    <node pkg="nate_stretch_movement" type="everything_wall_follower.py" name="EverythingWallFollower" output="screen"/>

    <!-- map saver -->

</launch>